* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html{
  font-size: 62;
}

/* .................Home Page CSS Start .........................  */

.social-part .fa img {
  padding-right: 20px;
}
/* ul li a {
  margin-right: 20px;
} */
.nav-item img {
  margin-top: 0rem;
}

/* .................Home Page CSS End .........................  */
