* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* .................Home Page CSS Start .........................  */
/* 
.social-part .fa img {
  padding-right: 20px;
} */
/* ul li a {
  margin-right: 20px;
} */
/* .navbar-expand-md {
  padding: 2.5rem 0rem 0rem 0rem;
} */
.nav-item img {
  margin-top: -0.4rem;
}
.navbar-nav li {
  font-size: 1.8rem;
  color: #212121;
  margin-left: 5rem;
}
.social-part a {
  margin-right: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.social-part {
  margin-right: 4rem;
}
.nav_profile {
  width: 2.5rem;
  border: 0.2rem solid #006400;
  border-radius: 10rem;
  margin-left: 2rem;
}
.nav_notification_img {
  width: 3rem;
  margin-left: 2rem;
}
.nav_location_img {
  margin-top: -0.4rem;
  width: 1.2rem;
}
.ahmed_text_m h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 3.6rem;
  color: #212121;
}

.ahmed_text_m p {
  font-family: Roboto;
  font-weight: normal;
  font-size: 2.4rem;
  color: #212121;
}

.ahmed_text_m h4 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 2rem;
  color: #006400;
}
/* carousel-indicators {
  float: left;
} */
/* .carousel-inner {
  position: absolute !important;
  overflow: hidden;
  left: 30%;
  top: 31px;
  width: 83%;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  top: 100px;
}
 */
/* .carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 52px;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
} */

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 65%;
  margin: 0rem 4rem;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 5%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  background: #00000024;
  border-radius: 108px;
  height: 39%;
}

.carousel-indicators {
  position: relative;
  right: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  top: 96px;
  /* bottom: -16%; */
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  left: 30%;
  top: 12px;
  width: 83%;
}
.carousel-indicators li {
  background-color: #006400;
}
/* .carousel-control-prev-icon {
  background-color: #f6f6f6;
}
.carousel-control-next-icon {
  background-color: #f6f6f6;
} */
.card_slider {
  height: 15rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 39px #00000024;
  border-radius: 15px;
}
.btn_grp {
  word-spacing: 2.2rem;
}
.btn_grp button {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 30px #00000017;
  border-radius: 10px;
  color: #212121;
  font-size: 1.6rem;
  width: 20.16rem;
  height: 6.3rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.playesr_text p {
  font-size: 1.8rem;
  color: #212121;
  font-family: Roboto;
  font-weight: 600;
  text-transform: capitalize;
}
.filter_img {
  right: 1%;
  top: 17%;
}
.filter_img span {
  color: #00000024;
  font-family: Roboto;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.8rem;
  margin-left: 1rem;
}
.rating_text {
  color: #212121 !important;
  font-size: 1.8rem !important;
  word-spacing: 0.5rem;
}
.home_card {
  /* background-image: url(../assets/images/green\ bg.svg);
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #006400;
  color: white;
}
.heart_icon{
  float: ;
}
/* .................Home Page CSS End .........................  */
